
<footer class="footer bg-black">
    <!-- <div style="margin-top:100px"></div> -->
    <div class="container container-lg">
    
      <div class="row align-items-center justify-content-md-between">
        <div class="col-md-6">
          <div class="copyright text-white">Copyright 
            &copy; <script>document.write(new Date().getFullYear())</script>
            <a href="" class="text-white" target="_blank">amcubes</a>.

          </div>
        </div>
        <div class="col-md-6">
          <ul class="nav nav-footer justify-content-end">
            <li class="nav-item">
              <a href="/" class=" text-white mr-3" target="_blank">amcubes</a>
            </li>
            <li class="nav-item">
              <a href="/aboutus" class="text-white mr-3" target="_blank">About Us</a>
            </li>
            <li class="nav-item">
                <a href="/terms&privacy" class="text-white" target="_blank">Terms & Privacy</a>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="../../assets/js/jquery.min.js"></script>
  <script type="text/javascript" src="../../assets/js/popper.min.js"></script>
  <script type="text/javascript" src="../../assets/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../../assets/js/bootstrap-datepicker.min.js"></script>
  <script type="text/javascript" src="../../assets/js/headroom.min.js"></script>
  <script type="text/javascript" src="../../assets/js/nouislider.min.js"></script>
  <script type="text/javascript" src="../../assets/js/argon.min.js"></script>
  <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="6ec3b1a6-40d5-4f49-89d7-e8bf8d1514fb";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>