<footer class="footer bg-dark">
  <!-- <div style="margin-top:100px"></div> -->
  <div class="container container-lg">
    <div class="row row-grid">
      <div class="col-lg-4 order-2 text-center mb-2 mb-lg-5">
        <h3 class=" font-weight-light text-white">Follow us on</h3>
        <div class=" btn-wrapper mt-3">
            <a target="_blank" href="https://twitter.com/amcubes3?s=08" class="btn btn-neutral btn-icon-only btn-twitter btn-round rounded-circle btn-lg" data-toggle="tooltip" data-placement="bottom" title="Follow us">
               <i class="fa fa-twitter mt-2 pt-1"></i>
            </a>
            <a target="_blank" href="https://facebook.com/amcubes2019" class="btn btn-neutral btn-icon-only btn-facebook btn-round rounded-circle btn-lg" data-toggle="tooltip" title="Like us">
              <i class="fa fa-facebook-square mt-2 pt-1"></i>
            </a>
            <a target="_blank" href="https://www.linkedin.com/company/amcubes" class="btn btn-neutral btn-icon-only btn-linkedin rounded-circle btn-lg btn-round" data-toggle="tooltip" title="Follow us">
              <i class="fa fa-linkedin mt-2 pt-1 "></i>
            </a>
            <a target="_blank" href="https://instagram.com/amcubes2019" class="btn btn-neutral btn-icon-only btn-instagram btn-round rounded-circle btn-lg" data-toggle="tooltip" title="Follow us">
              <i class="fa fa-instagram mt-2 pt-1"></i>
            </a>
          </div>
          <h5 class="text-white mt-3">Working Hours</h5>
          <p class="font-weight-normal text-white">Mon - Sun, 9AM - 9PM</p>
      </div>
      <div class="col-lg-4  order-1 mb-2 mb-lg-5 contact" >
          <h3 class="text-primary font-weight-light text-white">Contact us <br></h3>
          <h5 class="mb-0  font-weight-light text-white">4th Floor, 91 Springboard, Mytri Square, 2-41/11, 6/2, Gachibowli - Miyapur Rd, Prashanth Nagar Colony, Hyderabad, Telangana 500084</h5>
            <a class="h5 mb-0 mt-1 font-weight-light text-white" href="mailto:hello@amcubes.com">hello@amcubes.com</a> <br></br>
           <!-- <a class="h5 mb-0 mt-1 font-weight-normal text-white" href="tel:+919951464009">+91-9951464009</a> -->
        </div>
        <div class="col-lg-4 mb-5 order-3">
          <div id="map" class="rounded shadow"></div>
        </div>
    </div>
  
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <div class="copyright text-white">Copyright 
          &copy; <script>document.write(new Date().getFullYear())</script>
          <a href="" class="text-white" target="_blank">amcubes</a>.
        </div>
        Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
      </div>
      <div class="col-md-6">
          <ul class="nav nav-footer justify-content-end">
            <li class="nav-item">
              <a href="" class="text-white mr-3">Amcubes</a>
            </li>
            <li class="nav-item">
                <a href="#about" class="text-white mr-3">About Us</a>
              </li>
              <li class="nav-item">
                  <a href="/terms&privacy" class="text-white" target="_blank">Terms & Privacy</a>
                </li>
          </ul>
        </div>
        
    </div>
  </div>
</footer>
<script type="text/javascript" src="../assets/js/jquery.min.js"></script>
<script type="text/javascript" src="../assets/js/popper.min.js"></script>
<script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../assets/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="../assets/js/headroom.min.js"></script>
<script type="text/javascript" src="../assets/js/nouislider.min.js"></script>
<script type="text/javascript" src="../assets/js/argon.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADzo1qNJPmONyIELJQa5Zs4oalk0nSJlw&callback=initMap"async defer></script>
<script type="text/javascript" src="../assets/js/core/googlemaps.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="6ec3b1a6-40d5-4f49-89d7-e8bf8d1514fb";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>