<%- include('includes/header.ejs') %>
</head>
<body>
  <%- include('includes/nav.ejs') %>
<main>
  <div class="position-relative">
    <section class="section-shaped my-0" style="min-height:80vh">
        <div class="container container-lg mt-5">
          <div class="row">
            <div class="col py-5 px-3 mb-5 mt-2 shadow-sm mx-2">
              <h1>Privacy Policy for amcubes.com</h1>

              <p class="font-weight-normal text-black">At amcubes, accessible from https://amcubes.com, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by amcubes and how we use it.</p>
              
              <p class="font-weight-normal text-black">If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us through email at hello@amcubes.com</p>
              
              <h2 class="text-black">Log Files</h2>
              
              <p class="font-weight-normal text-black">amcubes follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information.</p>
              
              <h2 class="text-black">Cookies and Web Beacons</h2>
              
              <p class="font-weight-normal text-black">Like any other website, amcubes uses 'cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and/or other information.</p>
              
              <h2 class="text-black">Privacy Policies</h2>
              
              <p class="font-weight-normal text-black">Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on amcubes, which are sent directly to users' browser. They automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.</p>
              
              <p class="font-weight-normal text-black">Note that amcubes has no access to or control over these cookies that are used by third-party advertisers.</p>
              
              <h2 class="text-black">Third Party Privacy Policies</h2>
              
              <p class="font-weight-normal text-black">amcubes's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices and instructions about how to opt-out of certain options. You may find a complete list of these Privacy Policies and their links here: Privacy Policy Links.</p>
              
              <p class="font-weight-normal text-black">You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers' respective websites. What Are Cookies?</p>
              
              <h2 class="text-black">Children's Information</h2>
              
              <p class="font-weight-normal text-black">Another part of our priority is adding protection for children while using the internet. We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.</p>
              
              <p class="font-weight-normal text-black">amcubes does not knowingly collect any Personal Identifiable Information from children under the age of 13. If you think that your child provided this kind of information on our website, we strongly encourage you to contact us immediately and we will do our best efforts to promptly remove such information from our records.</p>
              
              <h2 class="text-black">Online Privacy Policy Only</h2>
              
              <p class="font-weight-normal text-black">This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in amcubes. This policy is not applicable to any information collected offline or via channels other than this website.</p>
              
              <h2 class="text-black">Consent</h2>
              
              <p class="font-weight-normal text-black">By using our website, you hereby consent to our Privacy Policy and agree to its Terms and Conditions.</p>
            </div>
          </div>
        </div>
    </section>
  </div>

</main>

<footer class="footer bg-black">
  <!-- <div style="margin-top:100px"></div> -->
  <div class="container container-lg">
    <div class="row row-grid">
      <div class="col-lg-4 order-2 text-center mb-2 mb-lg-5">
        <h3 class=" font-weight-light text-white">Follow us on</h3>
        <div class=" btn-wrapper mt-3">
            <a target="_blank" href="https://twitter.com/amcubes3?s=08" class="btn btn-neutral btn-icon-only btn-twitter btn-round rounded-circle btn-lg" data-toggle="tooltip" data-placement="bottom" title="Follow us">
               <i class="fa fa-twitter mt-2 pt-1"></i>
            </a>
            <a target="_blank" href="https://facebook.com/amcubes2019" class="btn btn-neutral btn-icon-only btn-facebook btn-round rounded-circle btn-lg" data-toggle="tooltip" title="Like us">
              <i class="fa fa-facebook-square mt-2 pt-1"></i>
            </a>
            <a target="_blank" href="https://www.linkedin.com/company/amcubes" class="btn btn-neutral btn-icon-only btn-linkedin rounded-circle btn-lg btn-round" data-toggle="tooltip" title="Follow us">
              <i class="fa fa-linkedin mt-2 pt-1 "></i>
            </a>
            <a target="_blank" href="https://instagram.com/amcubes2019" class="btn btn-neutral btn-icon-only btn-instagram btn-round rounded-circle btn-lg" data-toggle="tooltip" title="Follow us">
              <i class="fa fa-instagram mt-2 pt-1"></i>
            </a>
          </div>
          <div class="my-3">
             <span id="siteseal"><script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=atDW0HnPunuMjEboOi956IF1hEiYW3JptQOUuZYfj3UyGWp4Lp6solUP3mzT"></script></span>
          </div>
          <h5 class="text-white">Working Hours</h5>
          <p class="font-weight-normal text-white">Mon - Sun, 9AM - 9PM</p>
      </div>
      <div class="col-lg-4  order-1 mb-2 mb-lg-5 contact" >
          <h3 class="text-primary font-weight-light text-white">Contact us <br></br></h3>
          <h5 class="mb-0  font-weight-light text-white">Plot no. 44, Kavuri Hills, Phase 1, Behind Hotel Jubilee Ridge, Hyderabad, Telangana, 500033</h5>
            <a class="h5 mb-0 mt-1 font-weight-light text-white" href="mailto:hello@amcubes.com">hello@amcubes.com</a> <br></br>
           <a class="h5 mb-0 mt-1 font-weight-normal text-white" href="tel:+917702535506">+91-7989564009</a>
        </div>
        <div class="col-lg-4 mb-5 order-3">
          <div id="map" class="rounded shadow"></div>
        </div>
    </div>
  
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <div class="copyright text-white">Copyright 
          &copy; <script>document.write(new Date().getFullYear())</script>
          <a href="" class="text-white" target="_blank">amcubes</a>.
        </div>
      </div>
      <div class="col-md-6">
          <ul class="nav nav-footer justify-content-end">
            <li class="nav-item">
              <a href="" class="text-white mr-3" target="_blank">amcubes</a>
            </li>
            <li class="nav-item">
                <a href="/aboutus" class="text-white mr-3" target="_blank">About Us</a>
              </li>
              <li class="nav-item">
                  <a href="/terms&privacy" class="text-white" target="_blank">Terms & Privacy</a>
                </li>
          </ul>
        </div>
    </div>
  </div>
</footer>
<script type="text/javascript" src="../assets/js/jquery.min.js"></script>
<script type="text/javascript" src="../assets/js/popper.min.js"></script>
<script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../assets/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="../assets/js/headroom.min.js"></script>
<script type="text/javascript" src="../assets/js/nouislider.min.js"></script>
<script type="text/javascript" src="../assets/js/argon.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADzo1qNJPmONyIELJQa5Zs4oalk0nSJlw&callback=initMap"async defer></script>
<script type="text/javascript" src="../assets/js/core/googlemaps.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
</body>
</html>