<%- include('includes/header.ejs') %>
<body>
  <%- include('includes/nav.ejs') %>
<main>
  <div class="position-relative">
    <section class="section-shaped my-0" style="min-height:80vh">
      <div class="container container-lg">
           <div class="row my-5">
                    <div class="col mt-5">
                        <div class="mt-5 col-md-8 mx-auto">
                                <div class="p-1 p-md-2 p-lg-5 mt-5 text-center bg-success shadow">
                                    <i class="fa fa-thumbs-up text-default fa-4x" aria-hidden="true"></i> 
                                    <h4 class="text-default font-weight-bold">Your registration is successful!</h4>
                                    <h5 class="text-default font-weight-normal">The date of certification test will be announced through sms.</h5>
                                    <p class="font-weight-normal text-default">For Any Queries Please Contact - <strong>8309942409</strong></p>
                                </div>
                            </div>
                </div>
               
           </div>
      </div>
    </section>
  </div>
</main>

<%- include('includes/end.ejs') %>
</body>

</html>