<%- include('../includes/header.ejs') %>
</head>
<body>
<section class="bg-img-404">
  <div class="container text-center">
    <a href="/" class="btn mt-4" style="background-color: #8450FB;color:white; font-size:1.8rem; font-weight:700; padding:4px 8px;" >Go Back to home</a>
  </div>
</section>
</body>
</html>