<%- include('../includes/header.ejs') %>
<body class="bg-default">
<main>
  <div class="position-relative">
    <section class="section-shaped my-0">
      <div class="container container-lg">
           <div style="margin-top:150px">
           <div class="row">
               <div class="col text-center">
                   <div class="text-center">
                       <img src="../../assets/img/icons/warning.png" alt="" class="img-fluid">
                   </div>
                   <div class="my-4">
                       <h1 class="text-uppercase text-center text-white my-1" style="font-size:2.5rem">500 Server Error. <br> Something Went Wrong</h1>
                       <h1 class="text-uppercase text-center text-white" style="font-size:1.5rem">Some Error Occured in the Server. Please Contact +91-8309942409.</h1>
                   </div>
               </div>
           </div>
        </div>
      </div>         
    </section>
  </div>
</main>

<script type="text/javascript" src="../../assets/js/jquery.min.js"></script>
<script type="text/javascript" src="../../assets/js/popper.min.js"></script>
<script type="text/javascript" src="../../assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../assets/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="../../assets/js/headroom.min.js"></script>
<script type="text/javascript" src="../../assets/js/nouislider.min.js"></script>
<script type="text/javascript" src="../../assets/js/argon.min.js"></script>
</body>

</html>