<%- include('../includes/header.ejs') %>
</head>
<body>
  <%-include('../includes/trans-nav.ejs') %>
<main>
  <div class="position-relative">
    <!-- <section class="section-shaped my-0">
        <div class="shape shape-style-1 shape-skew bg-blue" style="background-image: url('../../assets/img/english.jpg'); height:650px;background-size:cover;background-repeat: no-repeat;filter: brightness(40%)">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="container container-lg shape-container d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-md-5">
                 <h1 class="br text-white text-capitalize">Amcubes English Certification</h1>
                 <p style="font-size: 17px;" class="text-white">Give your job hunt the English advantage with MyEnglish Certification. Assess and improve your English writing & speaking skills</p>
                 <div class="mt-4">
                  <a href="" class="btn btn-warning">Buy Now <i class="fa fa-arrow-right ml-1" aria-hidden="true"></i> </a>
                 </div>
              </div>  
            </div>
          </div>
        </div>
      </section> -->
      <section class="section-shaped my-0" style="background-image: url('../../assets/img/english.jpg'); height: 550px;">
        <div class="overlay" style="background-color: rgba(0, 0, 0, 0.596); height: 550px;">
          <div class="container  shape-container d-flex">
            <div class="col px-0" style="margin-top:160px;margin-bottom:100px;">
              <div class="row">
                <div class="col-lg-7 mt-0 mt-lg-5">
                   <h1 class="br text-white">Amcubes English Certification</h1>
                   <p class="text-white ft">
                    Give your job hunt the English advantage with Amcubes Certification. Assess and improve your English writing & speaking skills
                   </p>
                   <div class="mt-4 mb-2">
                    <button class="btn bg-purple-dark text-white" data-toggle="modal" data-target="#modal1">Buy Now <i class="fa fa-arrow-right ml-1" aria-hidden="true"></i></button>
                   </div>
                </div>  
              </div>
              <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="modal1" aria-hidden="true">
                <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title" id="modal-title-default">Fill up the form to register</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">×</span>
                          </button>
                      </div> 
                      <div class="modal-body">
                            <form action="/certification-course" method="post">
                            <div class="form-group">
                              <label for="">Name</label>
                              <div class="input-group input-group-alternative">
                                  <div class="input-group-prepend">
                                    <div class="input-group-text text-dark">
                                     <i class="material-icons">face</i>
                                    </div>
                                  </div>
                                  <input type="text" name="name" class="form-control" placeholder="Name" required>
                                </div>
                            </div>
                                  <div class="form-group">
                                    <label for="">Email</label>
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                          <div class="input-group-text text-dark">
                                           <i class="material-icons">mail</i>
                                          </div>
                                        </div>
                                        <input type="email" name="email" class="form-control" placeholder="Email" required>
                                        
                                      </div>
                                      <small class="text-muted">We'll never share your email with anyone</small>
                                  </div>
                                      <div class="form-group">
                                        <label for="">Phone</label>
                                        <div class="input-group input-group-alternative">
                                            <div class="input-group-prepend">
                                              <div class="input-group-text text-dark">
                                               <i class="material-icons">phone</i>
                                              </div>
                                            </div>
                                            <input type="number" name="phone" class="form-control" placeholder="Phone" required>
                                          </div>
                                      </div>
                                          <div class="form-group">
                                            <label for="">College</label>
                                            <div class="input-group input-group-alternative">
                                                <div class="input-group-prepend">
                                                  <div class="input-group-text text-dark">
                                                   <i class="material-icons">school</i>
                                                  </div>
                                                </div>
                                                <input type="text" name="college" class="form-control" placeholder="College Name" required>
                                              </div>
                                          </div>
                                          <div class="form-group">
                                            <label for="">Your City</label>
                                            <div class="input-group input-group-alternative">
                                                <div class="input-group-prepend">
                                                  <div class="input-group-text text-dark">
                                                   <i class="material-icons">my_location</i>
                                                  </div>
                                                </div>
                                                <input type="text" name="city" class="form-control" placeholder="Present City" required>
                                              </div>
                                          </div>
                                              <div class="form-group">
                                                <label for="">Parent's Phone</label>
                                                <div class="input-group input-group-alternative">
                                                    <div class="input-group-prepend">
                                                      <div class="input-group-text text-dark">
                                                       <i class="material-icons">phone</i>
                                                      </div>
                                                    </div>
                                                    <input type="number" name="parentphone" class="form-control" placeholder="Parent's Phone" required>
                                                  </div>
                                              </div>
                                              <div class="form-group">
                                                <label for="">Select Certification</label>
                                                <select name="certification" id="" class="form-control form-control-alternative" required>
                                                    <option value="English Certification" selected>English Certification Course</option>   
                                                </select>
                                              </div>
                                              <div class="custom-control custom-checkbox mb-3">
                                                  <input class="custom-control-input" id="customCheck2" type="checkbox" required>
                                                  <label class="custom-control-label" for="customCheck2">By registering you accept <a href="/terms&privacy">terms&privacy</a></label>
                                                </div>
                
                      </div>
                
                      <div class="modal-footer pb-4 pt-2">
                            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                            <button type="submit" class="btn btn-primary">Register</button>
                          </form>
                          <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Close</button>
                      </div>
                  </div>
                </div>
                </div>
            </div>
          </div>
        </div>
      </section>
<section class="py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5 my-2">
        <img src="../../assets/img/speaking.jpg" alt="" class="img-fluid rounded">
      </div>
      <div class="col-md-7 align-self-center my-2">
        <h3 class="text-default ft">Are you confident about your English writing & speaking skills? </h3>
        <p>
          This is reported that students who are fluent in English earn 30-40% more than their peers who don't. The importance of English in today's Job market cannot be ignored. Are  you confident about  your English writing  & speaking skills? Show your English writing and speaking skills to employers and get closer to your dream job by getting the Amcubes English certification.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="py-5" style="background-color: #EDF0FF;">
  <div class="container">
    <div class="row">
      <div class="col">
        <h3 class="text-center text-default mb-5">Benifits of the certification</h3>
        <div class="row">
          <div class="col-md-4 text-center my-2">
            <img src="../../assets/img/icons/slw.png" alt="" class="img-fluid">
           <h4 class="text-default mt-3">
            Speaking - Writing - Listening!
           </h4>
           <p>
            Checks your grammar, content placing skills, fluency and the way of pronouncing. 
           </p>
        </div>
        <div class="col-md-4 text-center my-2">
          <img src="../../assets/img/icons/learning.png" alt="" class="img-fluid">
          <h4 class="text-default mt-3">
            Learn and Improve
          </h4>
          <p>
            Checks your grammar, content placing skills, fluency and the way of pronouncing. 
          </p>
        </div>
        <div class="col-md-4 text-center my-2">
          <img src="../../assets/img/icons/certificate.png" alt="" class="img-fluid">
          <h4 class="text-default mt-3">
            Get Amcubes certified
          </h4>
          <p>
            stay Ahead with amcubes English certification for your job hunt.
          </p>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>
<section class="py-5">
  <div class="container">
    <h3 class="text-center text-default mb-4">How it works</h3>
    <div class="row">
      <div class="col-md-3 my-2 text-center">
        <h5 class="text-default">Step 1</h5>
        <p>
          Assess your English skills with a computer based test for writing and speaking skills
        </p>
      </div>
      <div class="col-md-3 my-2 text-center">
        <h5 class="text-default">Step 2</h5>
        <p>
          Answer questions in form of text and audio responses
        </p>
      </div>
      <div class="col-md-3 my-2 text-center">
        <h5 class="text-default">Step 3</h5>
        <p>
          Get evaluated on range of parameters for your English skills & get detailed feedback report.
        </p>
      </div>
      <div class="col-md-3 my-2 text-center">
        <h5 class="text-default">Step 4</h5>
        <p>
          Earn amcubes Certification and showcase it to employers
        </p>
      </div>
    </div>
  </div>
</section>
<section class="py-5" style="background-color: #EDF0FF;">
  <div class="container">
    <div class="row">
      <div class="col-md-5 order-lg-2">
        <img src="../../assets/img/icons/english-talk.png" alt="" class="img-fluid">
      </div>
      <div class="col-md-7 align-self-center">
        <h3 class="text-default ft">Importance of English Speaking and Writing Skills</h3>
        <p>
          This is reported that students who are fluent in English earn 30-40% more than their peers who don't.
          and get job faster than those who don't have good command over the language.
        </p>  
      </div>
    </div>
  </div>
</section>
  </div>
</main>
<%- include('../includes/indexend.ejs') %>
</body>
</html>