<%- include('../includes/header.ejs') %>
</head>
<body>
  <%-include('../includes/trans-nav.ejs') %>
<main>
  <div class="position-relative">
    <!-- <section class="section-shaped my-0">
        <div class="shape shape-style-1 shape-skew bg-blue" style="background-image: url('../../assets/img/english.jpg'); height:650px;background-size:cover;background-repeat: no-repeat;filter: brightness(40%)">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="container container-lg shape-container d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-md-5">
                 <h1 class="br text-white text-capitalize">Amcubes English Certification</h1>
                 <p style="font-size: 17px;" class="text-white">Give your job hunt the English advantage with MyEnglish Certification. Assess and improve your English writing & speaking skills</p>
                 <div class="mt-4">
                  <a href="" class="btn btn-warning">Buy Now <i class="fa fa-arrow-right ml-1" aria-hidden="true"></i> </a>
                 </div>
              </div>  
            </div>
          </div>
        </div>
      </section> -->
      <section class="section-shaped my-0" style="background-image: url('../../assets/img/technical.jpg'); background-position:center; height: 550px;">
        <div class="overlay" style="background-color: rgba(0, 0, 0, 0.596); height: 550px;">
          <div class="container  shape-container d-flex">
            <div class="col px-0" style="margin-top:140px;margin-bottom:100px;">
              <div class="row">
                <div class="col-lg-7 mt-0 mt-lg-5">
                   <h1 class="br text-white">Amcubes Technical Certification</h1>
                   <p class="text-white ft">
                    Amcubes brings you additional Certifications to showcase your skills to employers. Get yourself assessed on your professional skills, receive feedback on your strong and weak areas to improve and earn industry recognized certifications. Get closer to your dream job now !
                   </p>
                </div>  
              </div>
            </div>
          </div>
        </div>
      </section>
<section class="py-5">
  <div class="container">
      <h3 class="text-center text-default mb-4 sm-br">Get certified in these technologies</h3>
  <div class="row">
      <div class="col-md-4 my-2">
          <div class="card shadow-sm border-0" style="background-color: #EDF0FF;">
              <div class="card-body text-center">
                <img src="../../assets/img/icons/java.png" alt="" class="img-fluid">
                <h5 class="text-purple-dark mt-3">Full Stack Developer : Java</h5>
                <p>Turn your diverse programming knowledge into a full stack development job</p>
                <a class="btn bg-purple-dark d-block  text-white shadow d-block" data-toggle="modal" data-target="#modal1">Get Certified <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
              </div>
          </div>
      </div>
      <div class="col-md-4 my-2">
        <div class="card shadow-sm border-0" style="background-color: #EDF0FF;">
            <div class="card-body text-center">
              <img src="../../assets/img/icons/react.ico" alt="" class="img-fluid">
              <h5 class="text-purple-dark mt-3">React Developer</h5>
              <p>Turn your passion for React into a full-time job by using this certification</p>
              <a class="btn bg-purple-dark d-block  text-white shadow" data-toggle="modal" data-target="#modal1">Get Certified <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <div class="col-md-4 my-2">
        <div class="card shadow-sm border-0" style="background-color: #EDF0FF;">
            <div class="card-body text-center">
              <img src="../../assets/img/icons/python.png" alt="" class="img-fluid">
              <h5 class="text-purple-dark mt-3">Python Developer</h5>
              <p>Showcase your programming skills to employers and enhance your job prospects.</p>
              <a class="btn bg-purple-dark d-block  text-white shadow" data-toggle="modal" data-target="#modal1">Get Certified <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <div class="col-md-4 my-2">
        <div class="card shadow-sm border-0" style="background-color: #EDF0FF;">
            <div class="card-body text-center">
              <img src="../../assets/img/icons/mysql.png" alt="" class="img-fluid">
              <h5 class="text-purple-dark mt-3">Back End Developer : Java + MySQL</h5>
              <p>Showcase your programming skills to employers and enhance your job prospects</p>
              <a class="btn bg-purple-dark d-block  text-white shadow" data-toggle="modal" data-target="#modal1">Get Certified <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <div class="col-md-4 my-2">
        <div class="card shadow-sm border-0" style="background-color: #EDF0FF;">
            <div class="card-body text-center">
              <img src="../../assets/img/icons/mongodb.png" alt="" class="img-fluid">
              <h5 class="text-purple-dark mt-3">Back End Developer : JavaScript + MongoDB</h5>
              <p>Enhance your chances of landing a Backend Developer job with this popular certification.</p>
              <a class="btn bg-purple-dark d-block  text-white shadow" data-toggle="modal" data-target="#modal1">Get Certified <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <div class="col-md-4 my-2">
        <div class="card shadow-sm border-0" style="background-color: #EDF0FF;">
            <div class="card-body text-center">
              <img src="../../assets/img/icons/php.png" alt="" class="img-fluid">
              <h5 class="text-purple-dark mt-3">Full Stack Developer : PHP + MySQL</h5>
              <p>Showcase your programming skills to employers and enhance your job prospects</p>
              <a class="btn bg-purple-dark d-block  text-white shadow" data-toggle="modal" data-target="#modal1">Get Certified <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <%- include('../includes/cert-modal.ejs') %>
  </div>
  </div>
</section>
<section class="py-5 bg-secondary">
    <div class="container">
      <h3 class="text-center text-default mb-4">How it works</h3>
      <div class="row">
        <div class="col-md-3 my-2 text-center">
          <h5 class="text-default">Step 1</h5>
          <p>
            Buy the product to take assessment
          </p>
        </div>
        <div class="col-md-3 my-2 text-center">
          <h5 class="text-default">Step 2</h5>
          <p>
            Perform well to earn certification
          </p>
        </div>
        <div class="col-md-3 my-2 text-center">
          <h5 class="text-default">Step 3</h5>
          <p>
            Get feedback report to improve in weak areas
          </p>
        </div>
        <div class="col-md-3 my-2 text-center">
          <h5 class="text-default">Step 4</h5>
          <p>
            Publish your certificate on Linkedin via amcubes
          </p>
        </div>
      </div>
    </div>
  </section>

  </div>
</main>
<%- include('../includes/indexend.ejs') %>
</body>
</html>