@import url('https://fonts.googleapis.com/css?family=Open+Sans|Monteserrat|Poppins|Lato&display=swap');
h1,h2,h3,h4,h5,h6{
    font-family: "Lato", sans-serif;
}
.sm-br{
  font-family: "Lato", sans-serif;
  color: #383651;
  font-size: 32px;
  line-height: 42px;
  font-weight: 700;
  text-align: left;
  letter-spacing: -0.5px;
}
@media (max-width:576px){
  .br{
    font-family: "Lato", sans-serif;
    color: #383651;
    font-size: 33px;
    line-height: 43px;
    font-weight: 700;
    text-align: left;
    letter-spacing: -0.5px;
  }
  h1{
    font-size:2rem;
  }
}
.card-img-overlay {
  background-color: rgba(#000, 0.4);
}
@media (min-width:576px) {
  .br{
    font-family: "Lato", sans-serif;
    color: #383651;
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    text-align: left;
    letter-spacing: -0.5px;
  }
}

@media (min-width:768px) {
  .br{
    font-family: "Lato", sans-serif;
    color: #383651;
    font-size: 42px;
    line-height: 50px;
    font-weight: 700;
    text-align: left;
    letter-spacing: -0.5px;
  }
}

@media (min-width:992px) {
  .br{
    font-family: "Lato", sans-serif;
    color: #383651;
    font-size: 50px;
    line-height: 56px;
    font-weight: 700;
    text-align: left;
    letter-spacing: -0.5px;
  }
}

.btn-round{
  border-radius: 20px;
}
.ft{

}
.poppins{
  font-family: 'Poppins', sans-serif;
}
@media (max-width: 576px) {
  .navbar {
    background-color: #212529; }
  
  }

@media (max-width: 992px) {
  #m1 {
    text-align: center;
    font-size: 2.3em; }
  .contact {
    text-align: center; }
  #m2 {
    font-size: 1.7em;
    text-align: center; } }

 .bg-b{
   background-color:rgb(37, 73, 231);
 }
 .text-b{
     color:rgba(34, 46, 204, 0.678);
 }
 .bg-g{
   background-color:#00E677;
 }
 .text-g{
   color:#00E677;
 }
 .bg-light-grey{
   background-color:#EDF0FF;
 }
 .btn-round{
   border-radius: 20px;
 }
 .bg-black{
   background-color:#000;
 }
 .btn-black{
   background-color: #000;
   color: white;
 }
 .text-black{
   color: #000;
 }
 .bg-deep-red{
   background-color: rgb(230, 19, 36);
 }
 .bg-prp{
   background-color: rgb(54, 80, 230);
 }
 .bg-purple-dark{
   background-color: #4346E9;
 }
 .text-purple-dark{
  color: #4346E9;
 }
 .bg-deep-purple{
background-color: #0B0156;
 }
 .bg-light-pink{
   background-color: #FAEEF2;
 }
 .text-prp{
  color: rgb(54, 80, 230);
 }

.fb {
  color: #0966d1; }

.fb:hover {
  color: #034999; }

.ln {
  color: #0077B5; }

.ln:hover {
  color: #025683; }

.tw {
  color: #1DA1F3; }

.tw:hover {
  color: #06649e; }

.ins {
  color: #DC2B7E; }

.ins:hover {
  color: #b80a5b; }

.tooltip {
  margin-bottom: 12px;
  font-size: 1rem; }

.ratings {
  color: rgba(245, 182, 7, 0.979); }

.overlay {
  background-color: rgba(24, 24, 24, 0.637); }

#map {
  height: 250px;
  width: 320px;
  position: relative; }
  /* fallback */
.dash-1{
  margin-top:70px; margin-bottom:100px;
}

.bg-img{
  background-image: url('../img/ErrorPage404-05.jpg');
  height: 100vh;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}