@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins|Lato&display=swap');
.btn-round{
  border-radius: 20px;
}
.ft{
  font-family: "Lato", sans-serif;
}
.br{
  font-family: "Lato", sans-serif;
  color: #383651;
  font-size: 50px;
  line-height: 56px;
  font-weight: 700;
  text-align: left;
  letter-spacing: -0.5px;
}
.poppins{
  font-family: 'Poppins', sans-serif;
}
@media (max-width: 576px) {
  .navbar {
    background-color: #212529; } }

@media (max-width: 992px) {
  #m1 {
    text-align: center;
    font-size: 2.3em; }
  .contact {
    text-align: center; }
  #m2 {
    font-size: 1.7em;
    text-align: center; } }

 .bg-b{
   background-color:rgb(37, 73, 231);
 }
 .text-b{
     color:rgba(34, 46, 204, 0.678);
 }
 .bg-g{
   background-color:rgba(39, 168, 22, 0.829);
 }
 .text-g{
   color:rgba(55, 151, 17, 0.856);
 }
 .btn-round{
   border-radius: 20px;
 }
 .bg-black{
   background-color:#000;
 }
 .btn-black{
   background-color: #000;
   color: white;
 }
 .text-black{
   color: #000;
 }
 .bg-deep-red{
   background-color: rgb(230, 19, 36);
 }
 .bg-prp{
   background-color: rgb(54, 80, 230);
 }
 .text-prp{
  color: rgb(54, 80, 230);
 }

.fb {
  color: #0966d1; }

.fb:hover {
  color: #034999; }

.ln {
  color: #0077B5; }

.ln:hover {
  color: #025683; }

.tw {
  color: #1DA1F3; }

.tw:hover {
  color: #06649e; }

.ins {
  color: #DC2B7E; }

.ins:hover {
  color: #b80a5b; }

.tooltip {
  margin-bottom: 12px;
  font-size: 1rem; }

.ratings {
  color: rgba(245, 182, 7, 0.979); }

.overlay {
  background-color: rgba(24, 24, 24, 0.637); }

#map {
  height: 250px;
  width: 320px;
  position: relative; }
  /* fallback */
.dash-1{
  margin-top:70px; margin-bottom:100px;
}
